* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html,
body {
  background-color: #ffffff;
  display: flex;
  height: 100%;
  width: 100%;
  font-family: "inter", sans-serif;
}

.ekran {
  display: flex;
  height: 100dvh;
  width: 100%;
}

.left {
  height: 100vh;
  width: 50%;
}

.right {
  background-color: #133041;
  height: 100vh;
  width: 50%;
  border-radius: 0px 15px 15px 60px;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.padding {
  width: 100%;
  height: 100%;
  padding: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.naslov {
  color: #e4f4fd;
  margin-top: 20px;
  margin-bottom: 20px;
}

.text {
  font-weight: normal;
  color: #9abed5;
}

.redak {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.clearall {
  text-decoration: underline;
  color: #4e6e7e;
}

.heading {
  color: #133041;
}

.lijevipadding {
  width: 100%;
  height: 100%;
  padding: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.inputbox {
  display: flex;
  border-radius: 8px;
  border: 1px solid;
  width: 100%;
}

.euro {
  text-align: center;
  width: 20px;
  height: 100%;
  background-color: #e4f4fd;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  font-weight: bold;
}

.forma {
  width: 100%;
  height: auto;
}

.inputbox input {
  border: none;
  width: 100%;
  height: 60px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

.margine {
  margin-top: 24px;
  margin-bottom: 24px;
}

.inputflex {
  display: flex;
  gap: 10px;
  flex-direction: column;
  width: 45%;
}

.inputflexbig {
  display: flex;
  gap: 10px;
  flex-direction: column;
  width: 100%;
}

.years {
  text-align: center;
  width: 100px;
  height: 100%;
  background-color: #e4f4fd;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  font-weight: bold;
}

.inputyears {
  border: none;
  width: 100%;
  height: 60px;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.percentage {
  text-align: center;
  width: 20px;
  height: 100%;
  background-color: #e4f4fd;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  font-weight: bold;
}

.option {
  display: flex;
  gap: 15px;
  border-radius: 10px;
  padding: 20px;
  border: solid 1px;
  font-weight: bold;
}

.donjamargina {
  margin-bottom: 10px;
}

.button {
  display: flex;
  gap: 5px;
  padding: 20px;
  background-color: #d8db2f;
  border-radius: 40px;
  border: none 1px;
  justify-content: center;
  align-items: center;
  width: 400px;
  font-weight: bold;
  font-size: large;
}

.vecadonjamargina {
  margin-bottom: 40px;
}
